# Default ignored files
/shelf/
/workspace.xml
/appInsightsSettings.xml
/AndroidProjectSystem.xml
/compiler.xml
/dbnavigator.xml
/deploymentTargetSelector.xml
/deviceManager.xml
/gradle.xml
/misc.xml
/runConfigurations.xml
/studiobot.xml
/vcs.xml
/.idea
/.idea/planningMode.xml
/.idea/project.xml
/planningMode.xml
/project.xml